.dash {
  padding: 14px 0;
  h1 {
    margin-bottom: 12px;
  }
  .semiTitle {
    margin-bottom: 10px;
  }
  &__row {
    display: flex;
    margin: 0 -12px;
    flex-wrap: wrap;
  }
  &__col {
    margin: 12px;
    &.col-3 {
      width: calc(33.3% - 24px);
      margin: 12px;
    }
    &.col-2 {
      width: calc(50% - 24px);
      margin: 12px;
    }
  }
}

@mixin dash-xxxlg-xxxxlg {
  .dash {
    &__row {
      margin: 0 -8px;
    }
    &__col {
      &.col-3 {
        width: calc(33.3% - 16px);
        margin: 8px;
      }
      &.col-2 {
        width: calc(50% - 16px);
        margin: 8px;
      }
    }
  }
}
@mixin dash-xlg-xxlg {
  .dash {
    &__col {
      &.col-3 {
        width: calc(50% - 16px);
        &:nth-of-type(3) {
          width: calc(100% - 16px);
        }
      }
    }
  }
}
@mixin dash-lg-xlg {
  .dash {
    &__col {
      &.col-2 {
        width: calc(100% - 16px);
      }
    }
  }
}
@mixin dash-sm-md {
  .dash {
    &__row {
      margin: 0 !important;
    }
    &__col {
      margin: 0 0 16px 0 !important;
      width: 100% !important;
    }
  }
}

.nodes {
  border-radius: 16px;
  box-sizing: border-box;
  background: rgba(51, 51, 51, 0.6);
  box-shadow: 2px 2px 8px 2px rgba(109, 127, 136, 0.06);
  height: calc(100% - 28px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__progress {
    padding: 15px;
    h6 {
      margin-bottom: 5px;
    }
    &-numb {
      color: $white;
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 12px;
    }
  }
  &__info {
    display: flex;
    background: linear-gradient(
      180deg,
      #020202 0%,
      RGBA(89, 82, 175, 0.2) 80%,
      RGBA(89, 82, 175, 0) 100%
    );
    &-item {
      width: 33.3%;
      padding: 20px 16px;
      &:last-child {
        background: linear-gradient(171deg, #000 0%, rgba(0, 0, 0, 0) 160%);
        border-radius: 0px 0px 16px 0px;
        .nodes__info-numb {
          color: $purple;
        }
      }
      h6 {
        display: flex;
        text-transform: uppercase;
        font-weight: 400;
        align-items: center;
        margin-bottom: 12px;
        &.blue {
          span {
            background: $blue;
          }
        }
        &.yellow {
          span {
            background: $yellow;
          }
        }
        &.purple {
          span {
            background: $purple;
          }
        }
        span {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          display: block;
          margin-right: 4px;
        }
      }
    }
    &-numb {
      color: $white;
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
    }
  }
  .progress {
    display: flex;
    border-radius: 96px;
    height: 27px;
    overflow: hidden;
    span {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 96px;
      display: block;
      height: 100%;
      transform: rotate(0.23deg);
      position: relative;
      margin-right: -5%;
      &.purple {
        background: linear-gradient(177.35deg, #9b93ff -34.83%, #50499f 97.79%);
      }
      &.yellow {
        background: $yellow;
      }
      &.blue {
        background: $blue;
      }
    }
  }
}
@mixin nodes-xxxlg-xxxxlg {
  .nodes {
    &__info {
      &-item {
        padding: 16px 10px;
        h6 {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    .progress {
      height: 24px;
    }
  }
}
@mixin nodes-xlg-xxlg {
  .nodes {
    &__info {
      &-numb {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
.pods {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 28px);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    padding: 14px;
    box-sizing: border-box;
    margin-bottom: 12px;
    background: rgba(51, 51, 51, 0.6);
    box-shadow: 2px 2px 8px 2px rgba(109, 127, 136, 0.06);
  }
  &__total {
    border-radius: 16px;
    padding: 38px 15px;
    width: 50%;
    background: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
    &-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      strong {
        display: block;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &__info {
    width: calc(50% - 28px);
    &-item {
      padding-left: 10px;
      border-left: 2px solid $gray;
      font-weight: 400;
      font-size: 14px;
      box-sizing: border-box;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      strong {
        display: block;

        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  &__footer {
    padding: 12px 16px;
    display: flex;
    border-radius: 16px;
    background: rgba(51, 51, 51, 0.6);
    box-shadow: 2px 2px 8px 2px rgba(109, 127, 136, 0.06);
    align-items: center;
    justify-content: space-between;
    p {
      &:first-child {
        font-weight: 400;
        color: $gray;
      }
      font-weight: 600;
    }
  }
}
@mixin pods-xxxlg-xxxxlg {
  .pods {
    &__info {
      &-item {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
@mixin pods-xxlg-xxxlg {
  .pods {
    &__total {
      &-text {
        font-size: 12px;
        line-height: 14px;
      }
    }
    &__info {
      width: calc(50% - 12px);
    }
  }
}
.detail {
  border-radius: 16px;
  height: calc(100% - 28px);
  padding: 4px 6px;
  box-sizing: border-box;
  background: rgba(51, 51, 51, 0.6);
  box-shadow: 2px 2px 8px 2px rgba(109, 127, 136, 0.06);
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid rgba($color: $text-color, $alpha: 0.4);
  }
  &__body {
    background: #020202;
    padding-bottom: 14px;
    h6 {
      padding: 14px;
      font-weight: 400;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(51, 51, 51, 0.6);
    margin-bottom: 18px;
    padding: 0 14px;
    p {
      font-weight: 400;
      &:first-child {
        text-transform: uppercase;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@mixin detail-xxlg-xxxlg {
  .detail {
    font-size: 10px;
  }
}
.hard {
  border-radius: 16px;
  box-sizing: border-box;
  background: rgba(51, 51, 51, 0.6);
  box-shadow: 2px 2px 8px 2px rgba(109, 127, 136, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  &__chart {
    width: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    width: calc(100% - 123px);
  }
  &__item {
    width: calc(50% - 8px);
    margin: 4px;
    background: #020202;
    padding: 16px 10px;
    border-radius: 16px;
    h6 {
      display: flex;
      align-items: center;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 5px;
      &.yellow {
        span {
          background: $yellow;
        }
      }
      &.purple {
        span {
          background: $purple;
        }
      }
      &.stroke {
        span {
          background: #262626;
        }
      }
      &.solid {
        span {
          background: $white;
        }
      }
      span {
        width: 6px;
        height: 6px;
        border: 1px solid rgba($color: #fff, $alpha: 0.5);
        border-radius: 50%;
        display: block;
        margin-right: 13px;
      }
    }
    &-numb {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      padding-left: 20px;
      small {
        font-size: 14px;
        color: $gray;
        font-weight: 400;
        display: inline-block;
        margin-left: 6px;
      }
    }
  }
}
@mixin hard-xxlg-xxxlg {
  .hard {
    &__chart {
      width: 90px;
    }
    &__info {
      width: calc(100% - 100px);
    }
    &__item {
      &-numb {
        font-size: 16px;
        line-height: 18px;
        small {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}
@mixin hard-xsm-sm {
  .hard {
    flex-direction: column;
    &__chart {
      margin-bottom: 16px;
    }
    &__info {
      width: 100%;
    }
  }
}

.charts {
  &__head {
    display: flex;
    align-items: center;
    margin: 0 -12px 12px -12px;
  }
  &__btns {
    width: calc(50% - 24px);
    display: flex;
    align-items: center;
    margin: 12px;
    position: relative;
    &::before {
      position: absolute;
      bottom: -2px;
      height: 2px;
      border-radius: 2px;
      content: "";
      left: 0;
      width: 100%;
      background: #333333;
    }
    button {
      padding: 8px;

      font-family: $mainFont;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.8);
      background: transparent;
      cursor: pointer;
      @include transition;
      margin-right: 32px;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      &::before {
        position: absolute;
        bottom: -2px;
        @include transition;
        height: 2px;
        content: "";
        border-radius: 2px;
        left: 0;
        width: 0%;
        background: #333333;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        color: $white;
        font-weight: 600;
        &::before {
          width: 100%;
          background: $white;
        }
      }
    }
  }
  &__checks {
    margin: 12px;
    width: calc(50% - 24px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Cpu {
    border-radius: 16px;
    box-sizing: border-box;
    background: rgba(51, 51, 51, 0.6);
    box-shadow: 2px 2px 8px 2px rgba(109, 127, 136, 0.06);
    padding: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &__labels {
      width: 180px;
      background: #020202;
      border-radius: 16px;
      box-sizing: border-box;
      padding: 12px;
      margin-right: 20px;
      p {
        padding: 4px;
        margin-bottom: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;
        &.yellow {
          span {
            background: $yellow;
          }
        }
        &.blue {
          span {
            background: $blue;
          }
        }
        &.white {
          span {
            background: $white;
          }
        }
        &.purple {
          span {
            background: $purple;
          }
        }
        span {
          width: 6px;
          height: 6px;
          margin-right: 5px;
          border-radius: 50%;
          display: block;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__chart {
      width: calc(100% - 200px);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
  &Gib {
    border-radius: 16px;
    box-sizing: border-box;
    background: rgba(51, 51, 51, 0.6);
    box-shadow: 2px 2px 8px 2px rgba(109, 127, 136, 0.06);
    padding: 16px;
    display: flex;
    align-items: center;
    &__labels {
      width: 220px;
      margin-right: 20px;
    }
    &__label {
      padding: 4px;
      border-radius: 4px;
      background: #020202;
      padding-left: 14px;
      position: relative;
      margin-bottom: 18px;
      &.yellow {
        &::before {
          background: $yellow;
        }
      }
      &.purple {
        &::before {
          background: $purple;
        }
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        @include transformY;
        width: 2px;
        content: "";
        height: 90%;
        border-radius: 2px;
      }
      h6 {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      &-numb {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;

        color: #ffffff;
        small {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
    &__chart {
      width: calc(100% - 240px);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}
@mixin charts-xxxlg-xxxxlg {
  .charts {
    &__btns {
      margin: 8px;
      width: calc(50% - 16px);
    }
    &__checks {
      margin: 8px;
      width: calc(50% - 16px);
    }
  }
}
@mixin charts-xlg-xxlg {
  .charts {
    &__head {
      flex-direction: column;
      margin: 0 0 16px 0;
    }
    &__btns {
      width: 100%;
      margin: 0 0 16px 0;
    }
    &__checks {
      width: 100%;
      margin: 0;
    }
  }
}
@mixin charts-md-lg {
  .charts {
    &Cpu {
      flex-direction: column;
      &__labels {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 16px 0;
        p {
          margin: 0;
        }
      }
      &__chart {
        width: 100%;
      }
    }
    &Gib {
      flex-direction: column;
      &__labels {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 0 16px 0;
      }
      &__label {
        margin: 0 16px 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
      &__chart {
        width: 100%;
      }
    }
  }
}
@mixin charts-xsm-sm {
  .charts {
    &Cpu {
      &__labels {
        flex-wrap: wrap;
        padding: 4px;
        p {
          margin: 0;
          width: 50%;
        }
      }
    }
    &Gib {
      &__labels {
        justify-content: space-between;
      }
      &__label {
        width: calc(50% - 10px);
        margin: 0;
      }
    }
    &__checks {
      flex-wrap: wrap;
      margin: 0 -6px;
      width: calc(100% + 12px);
      .check {
        width: calc(50% - 12px);
        margin: 6px;
      }
    }
  }
}
