.nav {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-link {
      display: flex;
      align-items: center;
      padding: 4px 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      margin-left: 20px;
      color: $white;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 4px;
      }
    }
    &-btns {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
    &-links {
      display: flex;
      align-items: center;
    }
    &-avatar {
      display: flex;
      align-items: center;
      background: transparent;
      justify-content: center;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;
      margin-left: 10px;
      img {
        @include fullImage;
      }
    }
    &-not {
      width: 16px;
      height: 16px;
      display: flex;
      background: transparent;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $white;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@mixin nav-lg-xlg {
  .nav {
    &__inner {
      &-links {
        display: none;
      }
    }
  }
}
