// 1620px
@include xxxxlg-xxxxxlg {
  // base start
  h6 {
    font-size: 12px;
    line-height: 16px;
  }
  body {
    font-size: 12px;
    line-height: 16px;
  }
  // base end
}
// 1460px
@include xxxlg-xxxxlg {
  // dash start
  .check {
    label {
      font-size: 12px;
      line-height: 16px;
    }
  }
  // dash end

  // dash start
  @include dash-xxxlg-xxxxlg;
  @include nodes-xxxlg-xxxxlg;
  @include pods-xxxlg-xxxxlg;
  @include charts-xxxlg-xxxxlg;
  // dash end
  // workload start
  @include workload-xxxlg-xxxxlg;
  // workload end
  // cluster start
  @include cluster-xxxlg-xxxxlg;
  // cluster end
}
// 1340px
@include xxlg-xxxlg {
  // dash start
  @include detail-xxlg-xxxlg;
  @include pods-xxlg-xxxlg;
  @include hard-xxlg-xxxlg;
  // dash end
  // workload start
  @include workload-xxlg-xxxlg;
  // workload end
}
// 1240px
@include xlg-xxlg {
  // base start
  .auto__container {
    padding: 0 16px;
  }
  // base end
  // dash start
  @include dash-xlg-xxlg;

  @include nodes-xlg-xxlg;
  @include charts-xlg-xxlg;
  // dash end
  // workload start
  @include workload-xlg-xxlg;
  // workload end
}
// 1024px
@include lg-xlg {
  // base start
  @include header-lg-xlg;
  @include nav-lg-xlg;
  @include sidebar-lg-xlg;
  .wrapper {
    padding: 80px 0 0 0;
  }
  // base end
  // dash start
  @include dash-lg-xlg;

  // dash end
}
// 840px
@include md-lg {
  // dash start
  @include charts-md-lg;
  // dash end
  // workload start
  @include workload-md-lg;

  // workload end
}
// 700px
@include sm-md {
  // dash start
  @include dash-sm-md;
  // dash end
}
// 540px
@include xsm-sm {
  // base start
  h1,
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  // base end
  // workload start
  @include workload-xsm-sm;

  // workload end
  // cluster start
  @include cluster-xsm-sm;

  // cluster end
  // dash start
  @include hard-xsm-sm;
  @include charts-xsm-sm;

  // dash end
}
