// 1620px
@include xxxxlg-xxxxxlg {
  // base start
  h6 {
    font-size: 12px;
    line-height: 16px;
  }
  body {
    font-size: 12px;
    line-height: 16px;
  }
  // base end
}
// 1460px
@include xxxlg-xxxxlg {
  // workload start
  @include workload-xxxlg-xxxxlg;
  // workload end
}
// 1340px
@include xxlg-xxxlg {
  // workload start
  @include workload-xxlg-xxxlg;
  // workload end
}
// 1240px
@include xlg-xxlg {
  // base start
  .auto__container {
    padding: 0 16px;
  }
  // base end
  // workload start
  @include workload-xlg-xxlg;
  // workload end
}
// 1024px
@include lg-xlg {
  // base start
  @include header-lg-xlg;
  @include nav-lg-xlg;
  @include sidebar-lg-xlg;
  .wrapper {
    padding: 64px 0 0 0;
  }
  // base end
}
