// colors
$primary: #52c4ce;
$main: #5d83e5;
$black: #000;
$white: #fff;
// fonts
$mainFont: "Sora", sans-serif;

$yellow: #e5964d;
$blue: #4579ff;
$gray: #9a9abb;
$purple: #6a60e4;
$body-color: #020202;
$text-color: #fefdfc;
